.calculator-box {
    border: 1px solid black;
    width: 208px;
    flex-direction: column;
}

.flex-container {
    display: flex
}

.btn {
    border: 1px solid blue;
    height: 50px;
    width: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 156px;
}

.top-row,.bottom-row {
    width: 156px;
}

.nums {
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.display {
    height: 25px;
    flex: 1 1 auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.ops {
    flex-direction: column;
    width: 50px;
    justify-content: center;
    flex: 1 1 auto;
}

.zero {
    flex: 2 1 auto;
    width: 103px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
