.calculator-box {
    border: 1px solid black;
    width: 100px;
}

.btn {
    border: 1px solid blue;
    flex: 0 1 auto;
    height: 23px;
    width: 22px;
}

.flex-container {
    display: flex
}

.flex-container.calculator-box {
    flex-direction: column;
}

.flex-container.buttons {
    flex-wrap: wrap;
    gap: 1px;
    justify-content: space-evenly;
}

.zero {
    flex: 0 1 48px;
}

.display {
    width: 98px;
    height: 25px;
    flex: 1 1 auto;
    border: 1px solid green;
}
